*{
	color: green;
}


img {
	width: 200px;
	height: 200px;
}

.red{
	color: red;
}

#blue {
	color: blue;
}

.right-text{
	text-align: middle;
	font-size: 5rem;
}

.right-text:hover{
	color: red;
	
}